<h1>Welcome to Snapplicant.</h1>
<p>Organizing your job applications, just a little.</p>

<h3>You should totally <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>.</h3> 