.job-form {
  input {
    display: block;
    margin-bottom: 20px;
    width: 400px;
  }

  textarea {
    display: block;
    margin-bottom: 20px;
  }

  label {
    font-size: 14pt;
  }

  .submit-button {
    width: 90px;
  }

  select {
    display: block;
    margin-bottom: 20px;
  }
}